<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-vfi" version="0.8.2">
	<name>
		VFI
	</name>
	<description>
		VFI Plugin
	</description>
	<license>
		Apache 2.0
	</license>
	<keywords>
		cordova, bluetooth, printer, datecs
	</keywords>
	<js-module src="www/printer.js" name="VFI">
		<clobbers target="VFI" />
	</js-module>
	<!-- android -->
	<platform name="android">
		<framework src="com.android.support:support-v4:25+" value="gradle" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="VFI">
				<param name="android-package" value="com.vfi" />
			</feature>
			<feature name="aidl">
				<param name="android-package" value="com.vfi.aidl" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

		<source-file src="src/android/VFI.java" target-dir="src/com/vfi/plugin/" />
		<source-file src="src/android/aidl/aidl/FontFamily.java" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IBeeper.aidl" target-dir="src/com/vfi/plugin/aidl/" />

		<!--<source-file src="src/android/aidl/aidl/IDeviceService.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IInsertCardReader.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/ILed.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IMagCardReader.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IPinpad.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IPrinter.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IRFCardReader.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/IScanner.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/ISerialPort.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/MagCardListener.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/PinInputListener.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/PinKeyCoorInfo.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/PrinterConfig.java" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/PrinterListener.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/QrCodeContent.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/QrCodeContent.java" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/RFSearchListener.aidl" target-dir="src/com/vfi/plugin/aidl/" />
		<source-file src="src/android/aidl/aidl/ScannerListener.aidl" target-dir="src/com/vfi/plugin/aidl/" />

		<source-file src="src/android/aidl/constdefine/ConstIPrinter.java" target-dir="src/com/vfi/plugin/constdefine/" /> -->

		<!-- [resources] -->
		<resource-file src="src/res/raw/logo.bmp" target="res/raw/logo.bmp" />
	</platform>
</plugin>
